{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}

<div class="container">
  <div class="row">
    <div class="col text-center mt-4" id="activity">
      <h1 class="display-2">New Activity</h1>
      <div class="mb-3">
        <div class="form-group">
          <button class="btn btn-warning" onclick="fetchData()">
            Random Activity
          </button>

          <button
            class="btn btn-warning"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Search Activity
          </button>

          <div class="collapse" id="collapseExample">
            <div class="container my-3">
              <div class="row justify-content-center">
                <div class="col-4">
                  <form action="/api/activity" id="activityForm" method="GET">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                      {{ form.participants.label(class="my-3")}}
                      {{form.participants(class="form-range") }}
                    </div>

                    <div class="form-group">
                      {{form.price.label(class="my-3")}}
                      {{form.price(class="form-range") }}
                    </div>

                    <div class="form-group">
                      {{form.activityType.label(class="my-3")}}
                      {{form.activityType(class="form-control",
                      style="height:100%;") }}
                    </div>

                    <button
                      type="submit"
                      class="btn btn-success mt-3"
                      id="searchSubmitBtn"
                      onclick="getSearchCriteria()"
                    >
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center my-3" id="spinDiv" style="display: none">
          <div class="spinner-border" role="status" id="spinner">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div
          class="container"
          id="activityContainer"
          style="display: none"
        ></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
