{% extends 'base.html' %} {% block title %}Home {% endblock %} {% block
content%}

<div class="m-5 d-flex flex-column align-items-center justify-content-center">
  <h1 class="my-3 display-3 text-center">
    Hello there! <br />Bored? Try the activity below.
  </h1>
  <p>
    By signing up, you are able to save activities, complete them, and ignored
    those you don't feel like doing ever... or maybe not for a while.
  </p>

  <div
    class="container bg-success my-5 py-3 d-flex flex-column align-items-center justify-content-center"
  >
    <h3 class="display-5 text-center text-warning fw-bold">
      {{data.activity}}
    </h3>
  </div>
</div>

{% if not g.user %}
<div class="my-5 d-flex justify-content-center">
  <a class="btn btn-success btn-lg mx-3" href="/login">Log in</a>
  <a class="btn btn-warning btn-lg" href="/signup">Sign up</a>
</div>
{% endif %} {% endblock %}
