{% extends 'base.html' %} {% block title %}Edit Profile{% endblock %} {% block
content %}

<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-5 my-3">
    <h2 class="text-center display-3">Edit Profile</h2>

    <form method="POST" id="user_form">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
      !='hidden' and field.name != 'password' %} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-control
      my-2")}} {% endfor %}

      <small class="text-danger"
        >* To confirm changes, enter your password:</small
      >
      {% if form.password.errors %} {% for error in form.password.errors %}
      <span class="text-danger"> {{ error }} </span>
      {% endfor %} {% endif %} {{ form.password(placeholder="Enter your password
      to confirm", class="form-control my-2") }}

      <div class="my-3 d-flex justify-content-center">
        <button class="btn btn-success mx-3">Update</button>
        <a href="/user/{{ user_id }}" class="btn btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
